body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    background-color: black;
    background-image: url('2.jpg');
    animation: bg-animation 60s ease-in-out infinite; 
    background-repeat: no-repeat;
}


.container {
    display: flex;
    min-height: 100vh;
}


input {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(169, 169, 169, 0.651);
    height: 40px;
    width: 70px;
    border-radius: 5px;
    border: 3px solid rgb(80, 207, 216);
    margin-top: 50px;
}

#slongitude {
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    height: 40px;
    width: 340px;
    border: none;
    margin-top: 50px;
    margin-left: 10px;
}

select {
    font-size: 30px;
   background-color: rgba(30, 143, 255, 0.719);
   font-family: 'Times New Roman', Times, serif;
}


select option:checked {
    background-color: rgba(226, 26, 26, 0); 
    color: rgba(0, 0, 0, 0.5);
  }

  
  select option:not(:checked) {
    background-color: rgb(255, 255, 255); 
    color: rgba(0, 0, 0, 0.5);
  }


#in {
    display: inline;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-shadow: 1px 1px 3px #000;
    font-weight: bold;
}

#summerTZ, #winterTZ {
    margin: 12px;
}


button {
        position: relative;
    margin: 5px 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dbdbdb60;
    color: #ffffff;
    border: 5px solid rgb(80, 207, 216);
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: fantasy;
    transition: background-color 0.3s ease;
    margin-top: 50px;
 
}


 #back, #q {
    width: 100px;
    height: 90px;
 
    margin-right: 20px;
    margin-top: 5px;

 
  color: #ffffff;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  }
  

#getLocationBtn {
    width: 200px; 
    height: 100px;
    color: #ffffff;
    background-color: rgba(0, 0, 255, 0.315);
    animation: view 3s ease-in-out infinite;
    transition: background-color 0.3s ease;
}

#loadBtn {
    width: 400px; 
    height: 200px;
    font-size: 50px;
    text-align: center;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.329)
}

h1 {
    font-size: 20px;
    font-weight: 300;
    opacity: 0.85;
    text-shadow: 1px 1px 3px #000;
    margin-left: 4em;
    margin-right: 4em;
}



@keyframes view {
    0% {
        transform: rotate(0deg);
        background-color: rgba(0, 0, 255, 0.315);
    }
    25% {
        transform: rotate(20deg);
        background-color: #3cd1ec85;
    }
    50% {
        transform: rotate(0deg);
        background-color: rgba(0, 0, 255, 0.315);
    }
    75% {
        transform: rotate(-20deg);
        background-color: #3cd1ec85;
    }
    100% {
        transform: rotate(0deg);
        background-color: rgba(0, 0, 255, 0.315);
    }
}



@keyframes view2 {
    0% {
        background-color: rgba(0, 0, 255, 0.315);
    }
    25% {
        background-color: #00ffb385;
    }
    50% {
        background-color: rgba(0, 225, 255, 0.514);
    }
    75% {
        background-color: #00ffb385;
    }
    100% {
        background-color: rgba(0, 0, 255, 0.315);
    }
}

@keyframes bg-animation {
    0% {
        background-size: 100%;
        background-position: 50% 50%;
      
    }
    25% {
        background-size: 75%;
        background-position: 50% 50%;
        
    } 
    50% {
        background-size: 50%;
        background-position: 50% 50%;
        
    }    
    75% {
        background-size: 75%;
        background-position: 50% 50%;
      
    }
    100% {
        background-size: 100%;
        background-position: 50% 50%;
       
    }
}



#tooltip {
    opacity: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(80, 207, 216,0.5);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    animation: fadeIn 3s forwards;
    animation-delay: 3s;
    width: 30%;
    font-size: 1rem;
    text-shadow: 1px 1px 3px #000;
}


#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

#modalContent {
    background-color: cadetblue;
    margin: 0% auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    text-align: center;
}

#closeBtn {
    float: right;
    margin-right: 1rem;
    font-size: 40px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
  